<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <!-- Default log levels for specific packages -->
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.flywaydb" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <!--
    Log levels can be configured via environment variables:
    - LOG_LEVEL: Sets the root logger level (default: INFO)
    - Individual package levels can be set via Java system properties:
      Example in docker-compose: JAVA_OPTS="-Dlogging.level.com.unicitylabs.proxy=DEBUG"
    -->

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>